<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :year_of_study %><br>
    <%= f.text_field :year_of_study %>
  </div>
  <div class="field">
    <%= f.label :area_of_study %><br>
    <%= f.select :area_of_study, options_for_select([['Accounting','Accounting'],
					['Administration','Administration'],
					['Agreement Formal','Agreement Formal'],
					['Agricultural and Resource Economics','Agricultural and Resource Economics'],
					['Agricultural Food and Nutritional Science','Agricultural Food and Nutritional Science'],
					['Agricultural Life and Environmental Sciences','Agricultural Life and Environmental Sciences'],
					['American Sign Language','American Sign Language'],
					['Anatomy','Anatomy'],
					['Animal Science','Animal Science'],
					['Anthropology','Anthropology'],
					['Arabic','Arabic'],
					['Art','Art'],
					['Art History','Art History'],
					['Astronomy','Astronomy'],
					['Augustana Faculty: Acounting','Augustana Faculty: Acounting'],
					['Augustana Faculty: Art','Augustana Faculty: Art'],
					['Augustana Faculty: Biology','Augustana Faculty: Biology'],
					['Augustana Faculty: Chemistry','Augustana Faculty: Chemistry'],
					['Augustana Faculty: Classical Studies','Augustana Faculty: Classical Studies'],
					['Augustana Faculty: Community Service Learning','Augustana Faculty: Community Service Learning'],
					['Augustana Faculty: Computing Science','Augustana Faculty: Computing Science'],
					['Augustana Faculty: Crime and Community','Augustana Faculty: Crime and Community'],
					['Augustana Faculty: Drama','Augustana Faculty: Drama'],
					['Augustana Faculty: Economics','Augustana Faculty: Economics'],
					['Augustana Faculty: Education Field Experience','Augustana Faculty: Education Field Experience'],
					['Augustana Faculty: Educational Computing','Augustana Faculty: Educational Computing'],
					['Augustana Faculty: Educational Psychology','Augustana Faculty: Educational Psychology'],
					['Augustana Faculty: English','Augustana Faculty: English'],
					['Augustana Faculty: English for Academic Purposes','Augustana Faculty: English for Academic Purposes'],
					['Augustana Faculty: Environmental Studies','Augustana Faculty: Environmental Studies'],
					['Augustana Faculty: French','Augustana Faculty: French'],
					['Augustana Faculty: Geography','Augustana Faculty: Geography'],
					['Augustana Faculty: German','Augustana Faculty: German'],
					['Augustana Faculty: Global and Development Studies','Augustana Faculty: Global and Development Studies'],
					['Augustana Faculty: Greek','Augustana Faculty: Greek'],
					['Augustana Faculty: History','Augustana Faculty: History'],
					['Augustana Faculty: Interdisciplinary Studies','Augustana Faculty: Interdisciplinary Studies'],
					['Augustana Faculty: Language Studies','Augustana Faculty: Language Studies'],
					['Augustana Faculty: Latin','Augustana Faculty: Latin'],
					['Augustana Faculty: Management','Augustana Faculty: Management'],
					['Augustana Faculty: Mathematics','Augustana Faculty: Mathematics'],
					['Augustana Faculty: Music','Augustana Faculty: Music'],
					['Augustana Faculty: Philosophy','Augustana Faculty: Philosophy'],
					['Augustana Faculty: Physical Activity','Augustana Faculty: Physical Activity'],
					['Augustana Faculty: Physical Education','Augustana Faculty: Physical Education'],
					['Augustana Faculty: Physics','Augustana Faculty: Physics'],
					['Augustana Faculty: Political Studies','Augustana Faculty: Political Studies'],
					['Augustana Faculty: Psychology','Augustana Faculty: Psychology'],
					['Augustana Faculty: Religon','Augustana Faculty: Religon'],
					['Augustana Faculty: Scandinavian','Augustana Faculty: Scandinavian'],
					['Augustana Faculty: Sociology','Augustana Faculty: Sociology'],
					['Augustana Faculty: Spanish','Augustana Faculty: Spanish'],
					['Augustana Faculty: Statistics','Augustana Faculty: Statistics'],
					['Augustana Faculty: World Literatures','Augustana Faculty: World Literatures'],
					['Biochemistry','Biochemistry'],
					['Bioinformatics','Bioinformatics'],
					['Biology (Biological Sciences)','Biology (Biological Sciences)'],
					['Biomedical Engineering','Biomedical Engineering'],
					['Botany (Biological Sciences)','Botany (Biological Sciences)'],
					['Business','Business'],
					['Business Economics','Business Economics'],
					['Business Law','B Law'],
					['Cell Biology','Cell Biology'],
					['Chemical and Materials Engineering','Chemical and Materials Engineering'],
					['Chemical Engineering','Chemical Engineering'],
					['Chemistry','Chemistry'],
					['Chinese','Chinese'],
					['Christian Theology at St Joseph’s College','Christian Theology at St Joseph’s College'],
					['Christian Theology at St Stephen’s College','Christian Theology at St Stephen’s College'],
					['Civil Engineering','Civil Engineering'],
					['Classics','Classics'],
					['Communications and Technology','Communications and Technology'],
					['Community Service-Learning','Community Service-Learning'],
					['Comparative Literature','Comparative Literature'],
					['Computer Engineering','Computer Engineering'],
					['Computing Science','Computing Science'],
					['Dance','Dance'],
					['Dance Activity','Dance Activity'],
					['Danish','Danish'],
					['Dental Hygiene','Dental Hygiene'],
					['Dentistry','Dentistry'],
					['Dentistry/Medicine','Dentistry/Medicine'],
					['Design','Design'],
					['Drama','Drama'],
					['Earth and Atmospheric Sciences','Earth and Atmospheric Sciences'],
					['East Asian Studies','East Asian Studies'],
					['Economics','Economics'],
					['Education','Education'],
					['Electrical Engineering','Electrical Engineering'],
					['Engineering General','Engineering General'],
					['Engineering Management','Engineering Management'],
					['Engineering Physics','Engineering Physics'],
					['English','English'],
					['English as a Second Language','English as a Second Language'],
					['Entomology (Biological Sciences)','Entomology (Biological Sciences)'],
					['Environmental and Conservation Sciences','Environmental and Conservation Sciences'],
					['Environmental Engineering','Environmental Engineering'],
					['Espagnol','Espagnol'],
					['Exchange Program','Exchange Program'],
					['Famille','Famille'],
					['Family Medicine','Family Medicine'],
					['Film Studies','Film Studies'],
					['Finance','Finance'],
					['Forest Economics','Forest Economics'],
					['Forest Engineering','Forest Engineering'],
					['Forest Science','Forest Science'],
					['Français','Français'],
					['French for Educators','French for Educators'],
					['French Language and Literature','French Language and Literature'],
					['Genetics (Biological Sciences)','Genetics (Biological Sciences)'],
					['Geophysics','Geophysics'],
					['German','German'],
					['Greek','Greek'],
					['Health Education','Health Education'],
					['Health Promotion Studies','Health Promotion Studies'],
					['Hindi','Hindi'],
					['History','History'],
					['Human Ecology','Human Ecology'],
					['Human Geography and Planning','Human Geography and Planning'],
					['Humanities Computing','Humanities Computing'],
					['Hungarian','Hungarian'],
					['Immunologie','Immunologie'],
					['Immunology and Infection','Immunology and Infection'],
					['Industrial Relations','Industrial Relations'],
					['Integrated Petroleum Geosciences','Integrated Petroleum Geosciences'],
					['Interdisciplinary Undergraduate and Graduate Courses','Interdisciplinary Undergraduate and Graduate Courses'],
					['Italian','Italian'],
					['Japanese','Japanese'],
					['Korean','Korean'],
					['Laboratory Medicine and Pathology','Laboratory Medicine and Pathology'],
					['Latin','Latin'],
					['Latin American Studies','Latin American Studies'],
					['Law','Law'],
					['Library and Information Studies','Library and Information Studies'],
					['Linguistics','Linguistics'],
					['Linguistique','Linguistique'],
					['Maintaining Registration','Maintaining Registration'],
					['Management Information Systems','Management Information Systems'],
					['Management Science','Management Science'],
					['Marine Science (Biological Sciences)','Marine Science (Biological Sciences)'],
					['Marketing','Marketing'],
					['Master of Internetworking','Master of Internetworking'],
					['Materials Engineering','Materials Engineering'],
					['Mathematical Physics','Mathematical Physics'],
					['Mathematics','Mathematics'],
					['Mechanical Engineering','Mechanical Engineering'],
					['Medical Genetics','Medical Genetics'],
					['Medical Laboratory Science','Medical Laboratory Science'],
					['Medical Microbiology and Immunology','Medical Microbiology and Immunology'],
					['Medicine','Medicine'],
					['Microbiology (Biological Sciences)','Microbiology (Biological Sciences)'],
					['Middle Eastern and African Studies','Middle Eastern and African Studies'],
					['Mining Engineering','Mining Engineering'],
					['Modern Languages and Cultural Studies','Modern Languages and Cultural Studies'],
					['Music','Music'],
					['Native Studies','Native Studies'],
					['Neuroscience','Neuroscience'],
					['Norwegian','Norwegian'],
					['Nursing','Nursing'],
					['Nutrition','Nutrition'],
					['Nutrition and Food Sciences','Nutrition and Food Sciences'],
					['Obstetrics and Gynaecology','Obstetrics and Gynaecology'],
					['Occupational Therapy','Occupational Therapy'],
					['Oncology','Oncology'],
					['Operations Management','Operations Management'],
					['Ophthalmology','Ophthalmology'],
					['Oral Biology','Oral Biology'],
					['Paediatrics','Paediatrics'],
					['Paleontology','Paleontology'],
					['Persian','Persian'],
					['Petroleum Engineering','Petroleum Engineering'],
					['Pharmacology','Pharmacology'],
					['Pharmacy','Pharmacy'],
					['Philosophy','Philosophy'],
					['Physical Activity','Physical Activity'],
					['Physical Education and Sport','Physical Education and Sport'],
					['Physical Education Recreation and Leisure Studies','Physical Education Recreation and Leisure Studies'],
					['Physical Therapy','Physical Therapy'],
					['Physics','Physics'],
					['Physiology','Physiology'],
					['Plant Science','Plant Science'],
					['Polish','Polish'],
					['Political Science','Political Science'],
					['Portuguese','Portuguese'],
					['Postgraduate Dental Education','Postgraduate Dental Education'],
					['Postgraduate Medical Education','Postgraduate Medical Education'],
					['Psychiatry','Psychiatry'],
					['Psychology','Psychology'],
					['Public Health Sciences','Public Health Sciences'],
					['Punjabi','Punjabi'],
					['Radiology and Diagnostic Imaging','Radiology and Diagnostic Imaging'],
					['Recreation and Leisure Studies','Recreation and Leisure Studies'],
					['Rehabilitation Medicine','Rehabilitation Medicine'],
					['Religious Studies','Religious Studies'],
					['Renewable Resources','Renewable Resources'],
					['Research','Research'],
					['Rural Sociology','Rural Sociology'],
					['Russian','Russian'],
					['Scandinavian','Scandinavian'],
					['School of Public Health','School of Public Health'],
					['Science','Science'],
					['Science Technology and Society','Science Technology and Society'],
					['Slavic and East European Studies','Slavic and East European Studies'],
					['Sociology','Sociology'],
					['Soil Science','Soil Science'],
					['Spanish','Spanish'],
					['Speech Pathology and Audiology','Speech Pathology and Audiology'],
					['Statistics','Statistics'],
					['Strategic Management and Organization','Strategic Management and Organization'],
					['Surgery','Surgery'],
					['Swahili','Swahili'],
					['Swedish','Swedish'],
					['Theatre Design','Theatre Design'],
					['Thesis','Thesis'],
					['Ukrainian','Ukrainian'],
					['University','University'],
					['Women’s Studies','Women’s Studies'] ] )
 %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :goals %><br>
    <%= f.text_field :goals %>
  </div>
  <div class="field">
    <%= f.label :availability %><br>
    <%= f.text_field :availability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
